@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: url("./NotoSansKR-Regular.woff") format("woff");
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 300;
    src: url("./NotoSansKR-Light.woff") format("woff");
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 500;
    src: url("./NotoSansKR-Medium.woff") format("woff");
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 700;
    src: url("./NotoSansKR-Bold.woff") format("woff");
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 600;
    src: url("./NotoSansKR-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 200;
    src: url("./NotoSansKR-Thin.woff") format("woff");
}

body, h1, h2, h3, h4, h5, h6, p, a, span, div, button, input, textarea {
    font-family: 'Noto Sans KR', sans-serif; /* 예비 폰트를 포함할 수 있습니다. */
}
