.ListBackground {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ListBox {
    width: 70vw;
    border-top: 2px solid black;  /* 위쪽 테두리 */
    border-bottom: 2px solid black;  /* 아래쪽 테두리 */
    margin-top: 5vw;
}

.ListTitle {
    width: 100%;
    height: 3vw;
    background-color: rgba(162, 197, 121, 0.3);
    display: flex;
    flex-direction: row;
}

.ListTitleText_num, .ListTitleText_address, .ListTitleText_person, .ListTitleText_star, .ListTitleText2, .ListTitleText2_address { 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
    color: '#69666E';
}

.ListTitleText_num {
    width: 15%;
}

.ListTitleText_address {
    width: 45%;
}

.ListTitleText_person {
    width: 20%
}

.ListTitleText_star {
    width: 20%
}

.ListTitleText2 {
    width: 12%
}

.ListTitleText2_address {
    width: 40%;
}


.ListLine {
    width: 100%;
    height: 1px;
    background-color: #F5F4F4;
}

.ListLinkNotLine {
    text-decoration: none;
    color: inherit; /* 링크 색상도 상속받도록 설정 (선택 사항) */
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.page-item {
    margin: 0 0.5rem;
}

.page-link {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.page-link:hover {
    text-decoration: underline;
}

.list-request-box {
    color: #747474;
    font-size: 13.5px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    border-radius: 8px;
    background-color: #F6F6F6;
    width: 80px;
    height: 25px;
    transition: background-color 0.3s, color 0.3s;
  }

.list-request-box:hover {
  background-color: #727272; /* 호버 시 배경색 변경 */
  color: white; /* 호버 시 텍스트 색 변경 */
}