.ListTitle {
    width: 100%;
    height: 3vw;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.ListTitleText_num, .ListTitleText_address, .ListTitleText_person, .ListTitleText_star { 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 500;
    color: '#69666E';
}

.ListTitleText_num {
    width: 15%;
}

.ListTitleText_address {
    width: 45%;
}

.ListTitleText_person {
    width: 20%
}

.ListTitleText_star {
    width: 20%
}

.ListLine {
    width: 100%;
    height: 2px;
    background-color: #F5F4F4;
}