.map_wrap {
  border-top:1px solid black;
  display: flex;
  flex-direction: row;
}

#map {
  width: 1000px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

#menu_wrap {
  height: 500px;
  flex: 1;
  padding: 0px;
  overflow-y: scroll;
  border-left:1px solid black;
}
#menu_wrap li {
  list-style: none;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgba(0.1, 0.1, 0.1, 0.1);
}


#menu_wrap li p {
  margin: 5px 0;
}

#menu_wrap ol {
  padding-left:0px;
  margin : 0px;
}

#menu_wrap li p {
  margin: 5px 0;
}

#menu_wrap li .location {
  font-size: 18px;
  font-weight: bold;
}

#menu_wrap li .rent {
  font-size: 14px;
}

#menu_wrap li .details {
  font-size: 14px;
}

#menu_wrap li .details span {
  font-weight: bold;
}

#menu_wrap li .details .divider {
  margin: 0 5px;
}

#menu_wrap li {
  list-style: none;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}



#menu_wrap li p {
  margin: 5px 0;
  font-size: 14px;
}

#menu_wrap li .location {
  font-size: 18px;
  font-weight: bold;
}

#menu_wrap li .rent {
  font-size: 14px;
}

#menu_wrap li .details {
  font-size: 14px;
}

#menu_wrap li .details span {
  font-weight: bold;
}

#menu_wrap li .details .divider {
  margin: 0 5px;
}

#menu_wrap ol {
  padding-left: 0;
  margin: 0;
}
#menu_wrap li .rent span,
#menu_wrap li .details span {
  color: green;
}


.blank{
  background-color: rgba(236, 236, 236, 1);

  width: 50px; /* 너비 지정 */
  height: 20px; /* 높이 지정 */
  display: inline-block; /* 인라인 요소를 블록 요소로 변경하여 너비와 높이 적용 */
  text-align: center; /* 내용 가운데 정렬 */
  line-height: 20px; /* 텍스트 세로 중앙 정렬을 위한 높이 값 */
  margin: 0px; /* 여백 조절 */
}


.helpMapTitle{
  font-size: 20px;
  font-weight: 600;
  color: black; /* 파란색 대신 원하는 색으로 변경 */
  text-decoration: none;
}

.helpMapRequest{
  color: black; /* 파란색 대신 원하는 색으로 변경 */
  text-decoration: none;
}

.helpMapPrice{
  font-size: 5px;
  font-weight: 600;
  color: black;
}