/*네비게이션바 전체*/
.navigation-bar {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 999; 
}

/*네비게이션바 선택목록들*/
.navigation-list {
  list-style: none;
  padding: 10px;
  margin:0;
  display: flex;
  justify-content: flex-end;
  background-color: #559F5D;
}
.navigation-list li {
  margin-right: 25px;
}
.navigation-list button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.navigation-list button:hover {
  background-color: #4A8951;
  color: white;
  border-radius: 30px;
  
  padding: 1px 9px;
}