.MBBox {
    width: 15vw;
    height: 13vw;
    background-color: white;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 6vw;
    margin-top: -1vw;
    margin-bottom: 0vw;
    text-decoration: none;
}

.MBTextBox {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 23px;
    margin-right: 23px;
    margin-top: -10px;
    text-decoration: none;
}

.MBText {
    color: black;
    font-size: 23px;
    font-weight: 500;
    text-decoration: none;
}

.MBImage {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;
    align-items: flex-end;
}