.MyPageBackground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:40px;
    height: 700px;
    background-color: white;
}

.MyPageBackground > * {
    flex: 0 0 auto;
}

.MPName {
    font-size: 25px;
    color: black;
}

.MyBottom1,
.MyBottom2 {
    width: 100%;
    height: 220px;
    padding-top: 38px;
    padding-bottom:33px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 0; /* Remove margin-top to eliminate gap */
}

.MyBottom1 {
    background-color: rgba(162, 197, 121, 0.3);
}

.MyBottom2 {
    background-color: #A2C579;
}

.Bottom {
    width: 100%;
    margin-top:100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.ButtonGroup {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom:235px;
    top: -50px;  /* Adjust this value as needed */
    left: 10px;  /* Adjust this value as needed */
}

.ToggleBottomButton {
    margin-bottom: 56px;
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(162, 197, 121, 0.3);
    color: black;
    cursor: pointer;
    box-shadow :3px  -2px 1px 0px rgb(193, 195, 193);
    transition-duration:0.3s;
}


.ToggleBottomButton:active{
    margin-left:5px;
    margin-top:5px;
    box-shadow: none;
}

.ToggleBottomButton.active-bottom1 {
    background-color: rgba(162, 197, 121, 0.3); /* Active background color for 요청인 */
    color: black; /* Active text color */
}

.ToggleBottomButton.active-bottom2 {
    background-color: #A2C579; /* Active background color for 발품인 */
    color: white; /* Active text color */
}

.ToggleBottomButton.inactive-bottom1 {
    background-color: rgba(162, 197, 121, 0.3); /* Inactive background color for 발품인 when 요청인 is active */
    color: black; /* Inactive text color */
}

.ToggleBottomButton.inactive-bottom2 {
    background-color: #A2C579; /* Inactive background color for 요청인 when 발품인 is active */
    color: white; /* Inactive text color */
}

.BottomBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.LogoutButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    background-color: #F3F3F3;
    font-weight: 500;
    color: #5F5F5F;
    position: absolute;
    right: 30px;
    top: 70px;
    cursor: pointer;
}

.LogoutButton:hover {
    background-color: #5F5F5F;
    color: #F5F4F4;
}
