.room-box {
    flex-direction: 'row';
    padding-left: 30px;
}

.roomtitle {
    font-size: 15px;
    color: #5F5F5F;
}

.textInput {
    width: 100%;
    border: none;
    
}

.textInput:focus {
    outline: none;       /* 기본 포커스 아웃라인 제거 */
}

.textInput::placeholder {
    color: #C1BBBB;
    font-size: 15px;
}

.roomline {
    width: 100%;
    height: 1px;
    background-color: #C1BBBB;
    margin-bottom: 4%;
}