.footWorkBG {
    width: 60%;
    background-color: #F3F3F3;
    padding: 5vw;
    border-radius: 20px;
    box-shadow: 
        10px 15px 30px rgba(0, 0, 0, 0.2), /* 오른쪽 그림자 */
        -10px 15px 30px rgba(0, 0, 0, 0.2); /* 왼쪽 그림자 */
}

.pageTitle {
    width: 100%;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 2%;
}

.title2 {
    width: 100%;
    font-size: 25px;
    font-weight: 500;
}

.plusInput {
    border: none;
    width: 100%;
    height: 1vw;
}

.plusCircle {
    width: 4vw; 
    height: 4vw; 
    border-radius: 50%;
    background-color: #E9EBEF;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.plusInput:focus {
    outline: none;
}

.requestLine {
    width: 100%;
    height: 1.5px;
    background-color: #C1BBBB;
}

.requestBox {
    border-radius: 30px;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    padding: 2vw;
    padding-top: 1vw;
    justify-content: center;
    margin-bottom: 4vw;
}

.plusrequestBox {
    border-radius: 15px;
    background-color: #CAECA2;
    padding: 0.3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3vw;
    position: relative;
}

.plusrequestTitle {
    height: 2.3vw;
    border-radius: 15px;
    background-color: white;
    padding: 0.5vw;
    padding-left: 1vw;
    font-size: 15px;
    font-weight: 500;
    color: #5F5F5F;
    display: flex;
    flex-direction: row;
    margin: 0.5vw;
    margin-bottom: 0.9vw;
    align-items: center;
}

.plusrequestContent {
    width: 95%;
    border-radius: 15px;
    background-color: white;
    padding: 1vw;
    font-size: 14px;
    font-weight: 500;
    color: #5F5F5F;
    margin: 0.5vw;
    border: none; /* 테두리 없애기 */
    min-height: 10vw; /* 최소 높이 지정 */
    resize: vertical; /* 내용이 늘어나면 높이가 늘어나도록 설정 */
    overflow: hidden; /* 내용이 넘치지 않도록 설정 */
    position: relative;
}

.plusrequestContent::placeholder {
    font-size: 14px;
    font-weight: 500;
    color: #C1BBBB;
}

.plusrequestContent:focus {
    outline: none; /* input 포커스 시 테두리 없애기 */
}

.plusrequestContent:empty::before {
    content: attr(placeholder);
    color: #9b9b9b;
}

.plusrequestFile {
    width: 6vw;
    height: 2.5vw;
    position: absolute;
    bottom: 1.5vw;
    right: 1.2vw;
    background-color: #E9EBEF;
    border-radius: 15px;
    border: none;
}

.plusrequestImageBox {
    width: 80%;
    height: 4vw;
    position: absolute;
    bottom: 1.5vw;
    left: 2vw;
}


.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 30%; /* 화면 너비의 80%로 제한 */
    max-height: 100%; /* 화면 높이의 80%로 제한 */
    width: auto;
    height: auto;
}


.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.plusrequestImageBox img {
    width: 5vw;
    height: 5vw;
    border-radius: 10px;
    cursor: pointer;
    margin: 0.3vw;
}
