.footWorkBG {
    width: 60%;
    background-color: #F3F3F3;
    padding: 5vw;
    border-radius: 20px;
    box-shadow: 
        10px 15px 30px rgba(0, 0, 0, 0.2), /* 오른쪽 그림자 */
        -10px 15px 30px rgba(0, 0, 0, 0.2); /* 왼쪽 그림자 */
}

.pageTitle {
    width: 100%;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 2%;
}

.title2 {
    width: 100%;
    font-size: 25px;
    font-weight: 400;
}

.plusInput {
    border: none;
    width: 100%;
    height: 1vw;
}

.plusCircle {
    width: 4vw; 
    height: 4vw; 
    border-radius: 50%;
    background-color: #E9EBEF;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.plusInput:focus {
    outline: none;
}

.requestLine {
    width: 100%;
    height: 1.5px;
    background-color: #C1BBBB;
}

.requestBox {
    border-radius: 30px;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    padding: 2vw;
    padding-top: 1vw;
    justify-content: center;
    margin-bottom: 4vw;
}

