.inputTitle {
    font-size: 20px;
    font-weight: 600;
    margin-right: auto;
    /* padding-left: 50px; */
    margin-bottom: 10px;
    margin-top: 13px;
}

.inputBox {
    display: flex;
    /* height: 100px; */
    /* background-color: orange; */
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    /* padding: 10px; */
    /* padding-left: 40px; */
}

.input {
    width: 360px;
    height: 50px;
    border-radius: 10px;
    border-color: #ECECEC;
    border-width: 2px; /* 더 적절한 테두리 두께로 조정 */
    border-style: solid; /* 테두리 스타일 추가 */
    box-sizing: border-box; /* 너비와 높이가 테두리를 포함하도록 설정 */
    padding-left: 15px;
    margin-top: 0;
}

.input:focus {
    outline: none;       /* 기본 포커스 아웃라인 제거 */
}

.input::placeholder{
    font-size: 15px;
    color: #c2c2c2;
}
