.MyInfo {
    width: 60vw;
    /* background-color: green; */
    align-items: center;
    justify-content: center;
    display: flex;
}

.MyInfoInner {
    width: 30vw;
    height: 7vw;
    /* background-color: pink; */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.MyInfoTitle {
    font-size: 18px;
    margin-bottom: 0;
}

.MyInfoContent {
    font-size: 15px;
    color: #7A7676;
    margin-top: 2;
}

.MyInfoLine {
    width: 1px;
    height: 60%;
    background-color: #393939;
}